html,body{
background-image: ('my-app/public/whitee.JPG') ;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: 10%;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
border-color: transparent !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: rgb(200, 208, 245);
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
    -webkit-text-fill-color: #ebebeb; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: white;
}


.input-group-prepend span{
width: 50px;
background-color:  rgb(151, 211, 235);
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white !important;
background-color: #418FDE !important;
width: 100px;
height: 47px;
font-size: 18px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
} 