.jumbotron{
    background-color: #90a6e0;
    margin-top: 50px;
}
.google-btn{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    background: #ff5353;
}
body{
text-align: center;}

.navbar{
background-color: #6b7f8917;

}.card-footer{
background-color: #6b7f8917;
}