@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.navbar-brand {
    margin-right: 75% !important;
    font-family: 'Bungee Shade', cursive;
}

.modal-title {
    font-family: 'Bebas Neue', cursive;
}

.form-label {
    font-family: 'Bebas Neue', cursive;
}

.btn-primary {
    background-color: #418FDE !important;
}